body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
  background-color: #f0f0f0;
}

#H1 {
  font-size: 2.5em;
  margin-bottom: 0.2em;
  color: #333;
}

#H2 {
  font-size: 10em;
  margin-bottom: 1em;
  color: #555;
}

.buttons {
    margin-bottom: 9em;
  display: flex;
  gap: 1em;
}

.but {
  padding: 0.6em 1.2em;
  font-size: 1em;
  border: solid black;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.but:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}
